@import url(https://fonts.bunny.net/css?family=xanh-mono:400,400i);

@import url(https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css);

@container (min-width: 320px) and (max-width: 4096px);

body {
    font-family: 'Xanh Mono', monospace;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    background-color: blanchedalmond;
}

#instructionDisplay {
    font-size: 8cqw;
    margin: 1rem;
}

#timer {
    display: inline-block;
    font-size: 5cqw;
    margin: 1rem;
}

#countdown {
    display: inline-block;
    font-size: 5cqw;
    margin: 1rem;
}

#controls {
    margin: 1rem;
}

#info {
    font-size: 5cqw;
    color: seagreen;
}

button {
    font-family: 'Xanh Mono', monospace;
    font-weight: 400;
    font-style: italic;
    font-size: 5cqw;
    padding: 1rem 3rem;
    margin: 1rem;
    background-color: blanchedalmond;
    border-radius: 0.5rem;
    border-style: dashed;
}

button:hover {
    background-color: darkseagreen;
}

.highlight {
    display: block;
    color: black;
    margin: 5rem;
    background: linear-gradient(to right, darkseagreen 50%, transparent 0);
    background-size: 200% 100%;
    background-position: right;
    animation: fillbg 10s linear forwards;

}

.preset-item {
    margin: 0.5em 0;
}

#headline {
    font-size: 5cqw;
    background-color: darkseagreen;
    color: black;
    padding: 1rem;
    margin: 0;
}

#subtitle {
    font-size: 3cqw;
    background-color: darkseagreen;
    color: black;
    padding-bottom: 1rem;
    margin: 0;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(143, 188, 143, 1);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 1rem rgba(51, 217, 178, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
    }


}

@keyframes fillbg {
    100% {
        background-position: left;
    }
}